.statistics-grid {
    @apply p-4 grid grid-cols-1 sm:grid-cols-4;
    /* grid-template-columns: repeat(4, 1fr); */
    gap: 20px;
}
.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
}
.transaction-grid {
    display: grid;
    gap: 20px;
    transition: all .2s;
}