@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: hsl(0 0% 100%);
        --foreground: hsl(222.2 47.4% 11.2%);

        --border: hsl(214.3 31.8% 91.4%);
        --border-hover: hsl(214, 21%, 59%);

        --muted: hsl(210 40% 96.1%);
        --muted-foreground: hsl(215.4 16.3% 46.9%);

        --modal: hsl(0 0% 100%);
        --modal-foreground: hsl(222.2 47.4% 11.2%);

        --card: hsl(0 0% 100%);
        --card-foreground: hsl(222.2 47.4% 11.2%);

        --primary: #0e9274;
        --primary-foreground: #f2ffea;

        --secondary: hsl(223, 33%, 96%);
        --secondary-foreground: hsl(216deg 45.77% 6.48%);

        --accent: hsl(210, 25%, 91%);
        --accent-foreground: hsl(222.2 47.4% 11.2%);

        --destructive: hsl(0, 100%, 67%);
        --destructive-foreground: hsl(0, 100%, 98%);

        --radius: 0.5rem;
    }

    .rdp {
        --rdp-cell-size: 40px;
        --rdp-accent-color: hsl(222.2 47.4% 11.2%);
        --rdp-background-color: hsl(222.2 47.4% 11.2%);
        /* Switch to dark colors for dark themes */
        --rdp-accent-color-dark: hsl(222.2 47.4% 11.2%);
        --rdp-background-color-dark: hsl(222.2 47.4% 11.2%);
        /* Outline border for focused elements */
        --rdp-outline: 2px solid var(--rdp-accent-color);
        /* Outline border for focused and selected elements */
        --rdp-outline-selected: 2px solid hsl(222.2 47.4% 11.2%);
    }

    .dark {
        --background: hsl(224 71% 4%);
        --foreground: hsl(213 31% 91%);

        --muted: hsl(223 47% 11%);
        --muted-foreground: hsl(215.4 16.3% 56.9%);

        --modal: hsl(224 71% 4%);
        --modal-foreground: hsl(215 20.2% 65.1%);

        --border: hsl(216 34% 17%);
        --border-hover: hsl(217, 18%, 47%);

        --card: hsl(224 71% 4%);
        --card-foreground: hsl(213 31% 91%);

        --primary: #349188;
        --primary-foreground: #e2fffc;

        --secondary: hsl(216, 38%, 10%);
        --secondary-foreground: hsl(210 40% 98%);

        --accent: hsl(216 34% 17%);
        --accent-foreground: hsl(210 40% 98%);

        --destructive: hsl(0, 100%, 98%);
        --destructive-foreground: hsl(0, 100%, 73%);

        --radius: .5rem;

        --rdp-background-color: transparent;
    }

    .dark .rdp {
        --rdp-cell-size: 40px;
        --rdp-accent-color: hsl(216 34% 17%);
        --rdp-background-color: hsl(213 31% 91%);
        /* Switch to dark colors for dark themes */
        --rdp-accent-color-dark: hsl(216 34% 17%);
        --rdp-background-color-dark: hsl(213 31% 91%);
        /* Outline border for focused elements */
        --rdp-outline: 2px solid var(--rdp-accent-color);
        /* Outline border for focused and selected elements */
        --rdp-outline-selected: 2px solid hsl(213 31% 91%);
    }
}

@layer base {
    * {
        @apply border-border;
        font-family: 'DM Sans', sans-serif;
    }

    body {
        @apply bg-background text-foreground;
        font-feature-settings: "rlig" 1, "calt" 1;
    }
}

.muted-text {
    font-family: 'Inter', 'DM Sans', sans-serif;
}

.container {
    @apply max-w-[1200px] w-full mx-auto;
}